@model CodeHub.Web.ViewModels.Other.FilterViewModel
@if (Request.IsAuthenticated)
{
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("All", "Pastes", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-5">
                        @Html.EditorFor(m => m.Syntax)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.OnlyMine)
                        @Html.CheckBoxFor(m => m.OnlyMine)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.WithBugs)
                        @Html.CheckBoxFor(m => m.WithBugs)
                    </div>
                    <div class="col-md-2 pull-right">
                        @Html.Submit(new { @class = "btn btn-primary", value = "Filter" })
                    </div>
                </div>
            }
        </div>
    </div>
}
