@model CodeHub.Web.ViewModels.Paste.PasteDetailsViewModel
@{
    ViewBag.Title = "Paste Details";
}
@section styles {
    @Styles.Render("~/Content/codemirror")
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="row">
        <h3>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>@Model.Title
        </h3>
        <h4>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Author: @Model.Author
        </h4>
    </div>
    <div class="row">
        <div class="col-md-3">Syntax: @Model.Syntax</div>
        <div class="col-md-3">Hitted: @Model.Hits</div>
        <div class="col-md-3">Created on:@Html.DisplayFor(m => m.CreatedOn)</div>
        <div class="col-md-3">
            @Html.DisplayFor(m=>m.HasBug)
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @Html.DisplayFor(m => m.Content)
        </div>
        <div class="col-md-4 text-justify">
            @Html.DisplayFor(m => m.Description)
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/codemirror")
    <script type="text/javascript">
        $(function () {
            var textEditor = document.getElementById("code");
            var editor = new CodeMirror.fromTextArea(textEditor, {
                mode: "@Model.SyntaxMode",
                lineNumbers: true,
                matchBrackets: true,
                theme: "vibrant-ink",
                showCursorWhenSelecting: true,
                undoDepth: 100,
                lineWrapping: true,
                readOnly: true,
                autofocus: false,
            });

            console.log(textEditor);

            editor.setSize('100%', '100%');
        });
    </script>
}