@model CodeHub.Web.ViewModels.Comment.EditCommentViewModel
@{
    ViewBag.Title = "Comment editor";
}

<h2>@ViewBag.Title</h2>
@using (@Html.BeginForm("Edit","Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Id)
    @Html.EditorFor(m => m.Content)
    
    <a href="/Pastes/Details/@Model.PasteId" class="btn btn-default">Cancel</a>
    @Html.Submit(new { @class="btn btn-primary" })
}